---
import Page from '$layouts/Page.astro';
import localeStaticPaths from '$lib/localeStaticPaths';
import translate from '$i18n/translate';
import tPage from '$i18n/translations/pages/contact';
import type Locale from '$types/Locale';
import contactDetails from '$data/contactDetails';

export async function getStaticPaths() {
  return localeStaticPaths;
}

const locale = Astro.params.locale as Locale;
const t = translate(locale);
---

<Page title={t(tPage, { key: 'title' })}>
  <section>
    <h1>{t(tPage, { key: 'title' })}</h1>
    <a href={`${locale}/mailto:${contactDetails.generalEnquiries.emailAddress}`}>
      {contactDetails.generalEnquiries.emailAddress}
    </a>
    <address set:html={contactDetails.generalEnquiries.address.join('<br />')} />
  </section>
</Page>
