---
import Page from '$layouts/Page.astro';
import localeStaticPaths from '$lib/localeStaticPaths';
import translate from '$i18n/translate';
import tPage from '$i18n/translations/pages/home';
import type Locale from '$types/Locale';
import Button from '$components/Button.astro';
import CommitteeList from '$components/CommitteeList/CommitteeList.astro';

export async function getStaticPaths() {
  return localeStaticPaths;
}

const locale = Astro.params.locale as Locale;
const t = translate(locale);
---

<Page title={t(tPage, { key: 'title' })}>
  <section>
    <h2 set:html={t(tPage, { key: 'sangschaw' })} />
    <p set:html={t(tPage, { key: 'sangschaw-para-1' })} />
  </section>

  <section id="about">
    <h2 set:html={t(tPage, { key: 'about-us' })} />
    <p set:html={t(tPage, { key: 'about-us-para-1' })} />
    <p set:html={t(tPage, { key: 'about-us-para-2' })} />
    <p set:html={t(tPage, { key: 'about-us-para-3' })} />
    <h3 set:html={t(tPage, { key: 'meet-the-commattee' })} />
    <CommitteeList />
  </section>

  <section>
    <h2 set:html={t(tPage, { key: 'furthsettins' })} />
    <p set:html={t(tPage, { key: 'furthsettins-para' })} />
    <Button classNames="grid-span-3 grid-prose-end" href={`/${locale}/furthsettins`}>
      {t(tPage, { key: 'aw-furthsettins' })} ▶
    </Button>
  </section>
</Page>
