---
import Layout from '../../layouts/Layout.astro';
import localeStaticPaths from '../../lib/localeStaticPaths';
import translate from '../../i18n/translate';
import site from '../../i18n/translations/site';
import home from '../../i18n/translations/pages/home';
import type Locale from '../../types/Locale';

export async function getStaticPaths() { return localeStaticPaths; }

const locale = Astro.params.locale as Locale;
const t = translate(locale);
---

<Layout locale={locale} title={ t(home, 'title') }>
  <main id="main">
    <section>
      <h1 class="title">{ t(site, 'title') }</h1>
      <h1>Tap-level heidin</h1>
      <h2>Seicont-level heidin</h2>
      <h3>Third-level heidin</h3>
      <h4>Fowert-level heidin</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </p>
      <a class="link" href="#">Lairn mair!</a>
      <p>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <button class="btn">Dae somethin excitin...</button>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </section>
    <section>
      <h2>Seicont-level heidin</h2>
      <h3>Third-level heidin</h3>
      <h4>Fowert-level heidin</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </p>
      <a class="link" href="#">Lairn mair!</a>
      <p>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <button class="btn">Dae somethin excitin...</button>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </section>
  </main>
</Layout>
