---
import type Locale from '$types/Locale';

import contactDetails from '$data/contactDetails';
import Page from '$layouts/Page.astro';
import localeStaticPaths from '$lib/localeStaticPaths';
import translate from '$i18n/translate';
import tPage from '$i18n/translations/pages/jyne';

export async function getStaticPaths() {
  return localeStaticPaths;
}

const locale = Astro.params.locale as Locale;
const t = translate(locale);
---

<Page title={t(tPage, { key: 'title' })}>
  <header>
    <h1 set:html={t(tPage, { key: 'title' })} />
  </header>

  <section>
    <h2 set:html={t(tPage, { key: 'hou-jyne' })} />
    <p set:html={t(tPage, { key: 'hou-jyne-intro' })} />

    <ul class="payment-methods-list">
      <li>
        <details>
          <summary set:html={t(tPage, { key: 'hou-pey-by-bank-transfer-title' })} />
          <p
            set:html={t(tPage, {
              key: 'hou-pey-by-bank-transfer-para',
              emailAddress: contactDetails.membershipSecretary.emailAddress,
            })}
          />
        </details>
      </li>

      <li>
        <details>
          <summary set:html={t(tPage, { key: 'hou-pey-by-cheque-title' })} />
          <p
            set:html={t(tPage, {
              key: 'hou-pey-by-cheque-para',
              address: contactDetails.membershipSecretary.address,
            })}
          />
        </details>
      </li>
    </ul>
  </section>

  <section>
    <h2 set:html={t(tPage, { key: 'why-jyne' })} />
    <p set:html={t(tPage, { key: 'why-jyne-para-1' })} />
    <p set:html={t(tPage, { key: 'why-jyne-para-2' })} />
    <p set:html={t(tPage, { key: 'why-jyne-para-3' })} />
  </section>
</Page>
