---
import Page from '$layouts/Page.astro';
import localeStaticPaths from '$lib/localeStaticPaths';
import translate from '$i18n/translate';
import tPage from '$i18n/translations/pages/submit';
import type Locale from '$types/Locale';

export async function getStaticPaths() {
  return localeStaticPaths;
}

const locale = Astro.params.locale as Locale;
const t = translate(locale);
---

<Page title={t(tPage, { key: 'title' })}>
  <section>
    <h2 set:html={t(tPage, { key: 'title' })} />
    <p set:html={t(tPage, { key: '105-submissions-full' })} />
  </section>
</Page>
