:root {
  --color-primary-0: #000000;
  --color-primary-10: #190064;
  --color-primary-20: #2d009d;
  --color-primary-25: #381aa8;
  --color-primary-30: #442bb3;
  --color-primary-35: #503abf;
  --color-primary-40: #5c48cc;
  --color-primary-50: #7663e7;
  --color-primary-60: #907eff;
  --color-primary-70: #ac9fff;
  --color-primary-80: #c8bfff;
  --color-primary-90: #e5deff;
  --color-primary-95: #f4eeff;
  --color-primary-98: #fdf8ff;
  --color-primary-99: #fffbff;
  --color-primary-100: #ffffff;

  --color-secondary-0: #000000;
  --color-secondary-10: #00201e;
  --color-secondary-20: #003733;
  --color-secondary-25: #00433f;
  --color-secondary-30: #00504b;
  --color-secondary-35: #005d57;
  --color-secondary-40: #006a64;
  --color-secondary-50: #00867e;
  --color-secondary-60: #00a299;
  --color-secondary-70: #26bfb4;
  --color-secondary-80: #50dbcf;
  --color-secondary-90: #71f7ec;
  --color-secondary-95: #b2fff6;
  --color-secondary-98: #e4fffb;
  --color-secondary-99: #f2fffc;
  --color-secondary-100: #ffffff;

  --color-neutral-0: #000;
  --color-neutral-10: #03020f;
  --color-neutral-20: #141327;
  --color-neutral-30: #2c2b41;
  --color-neutral-40: #45455d;
  --color-neutral-50: #61607a;
  --color-neutral-60: #7d7d98;
  --color-neutral-70: #9b9bb7;
  --color-neutral-80: #bbbbd7;
  --color-neutral-90: #dbdbf8;
  --color-neutral-95: #ecedff;
  --color-neutral-98: #f7f8ff;
  --color-neutral-99: #fbfbff;
  --color-neutral-100: #fff;
}
