:root {
  --font-size-0: 1rem;
  --font-size-1: 1.25rem;
  --font-size-2: 1.5rem;
  --font-size-3: 2rem;
  --font-size-4: 2.5rem;
  --font-size-5: 3rem;
  --font-size-6: 3.5rem;

  --font-serif:
    Alegreya,
    -apple-system-ui-serif,
    Iowan Old Style,
    Apple Garamond,
    Baskerville,
    Sitka, "Sitka Display", "Sitka Heading", "Sitka Text",
    Times New Roman,
    Droid Serif,
    Times,
    Source Serif Pro,
    serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;

  --font-sans-serif:
    'Alegreya Sans',
    Lato,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif
}
