---
import translate from '$i18n/translate';
import tPage from '$i18n/translations/pages/signUp/success';
import localeStaticPaths from '$lib/localeStaticPaths';
import { getLocaleFromPathOrThrow } from '$lib/getLocaleFromPath';
import Page from '$layouts/Page.astro';

export async function getStaticPaths() {
  return localeStaticPaths;
}

const locale = getLocaleFromPathOrThrow(Astro.url.pathname);
const t = translate(locale);
---

<Page title={t(tPage, { key: 'title' })} noBreadcrumbs={true}>
  <section>
    <h1>{t(tPage, { key: 'title' })}</h1>

    <script>
      import translate from '$i18n/translate';
      import tPage from '$i18n/translations/pages/signUp/success';
      import { getLocaleFromDocumentOrThrow } from '$lib/getLocaleFromDocument';

      const locale = getLocaleFromDocumentOrThrow(document);
      const t = translate(locale);

      const heading = document.getElementsByTagName('h1')[0];

      const url = new URL(window.location.href);

      const displayName = url.searchParams.get('displayName');
      const userId = url.searchParams.get('userId');
      if (displayName && userId) {
        const successMsg = [document.createElement('p'), document.createElement('p')];
        successMsg[0].textContent = t(tPage, { key: 'para-1', displayName });
        successMsg[1].textContent = t(tPage, { key: 'para-2', userId });

        heading.after(...successMsg);
      } else {
        const errorMsg = document.createElement('p');
        errorMsg.append('Something went wrong. Please send an error report to ');
        const lallansEmailAnchor = document.createElement('a');
        lallansEmailAnchor.href = 'mailto:lallans@hotmail.co.uk';
        lallansEmailAnchor.textContent = 'lallans@hotmail.co.uk';
        errorMsg.append(lallansEmailAnchor);
        errorMsg.append('.');

        heading.after(errorMsg);
      }
    </script>

    <!-- TODO: 'go back to where you were' link -->
  </section>
</Page>
