---
import Page from '$layouts/Page.astro';
import localeStaticPaths from '$lib/localeStaticPaths';
import translate from '$i18n/translate';
import tPage from '$i18n/translations/pages/scotsounPaymentSuccessConfirmation';
import type Locale from '$types/Locale';
import { getScotsoun } from '$data/scotsoun';
import type ScotsounId from '$types/ScotsounId';

export async function getStaticPaths() {
  const scotsounIds = Object.keys(getScotsoun) as `${ScotsounId}`[];
  return scotsounIds.flatMap((n) =>
    localeStaticPaths.map((p) => ({ ...p, params: { ...p.params, issueNumber: n } }))
  );
}

const locale = Astro.params.locale as Locale;
const scotsounId = Astro.params.scotsounId as ScotsounId;
const t = translate(locale);
---

<Page locale={locale} title={t(tPage, { key: 'title' })}>
  <section>
    <h1>{t(tPage, { key: 'title' })}</h1>
    <p>{t(tPage, { key: 'payment-confirmation-message', scotsounId })}</p>
    <a class="link" href="./">
      {t(tPage, { key: 'back-button-text', scotsounId })}
    </a>
  </section>
</Page>
