:root {
  --color-primary-50: #fdd3fd;
  --color-primary-100: #f49ff4;
  --color-primary-200: #e372e3;
  /* --color-primary-300: #e372e3;
  --color-primary-400: #ba40ba; */
  --color-primary-500: #8f3d8f;
  /* --color-primary-600: #6c356c;
  --color-primary-700: #5b335b; */
  --color-primary-800: #442c44;
  --color-primary-900: #251d25;

  --max-width-prose-content: 35rem;

  --breakpoint-sm: 640px;
  --breakpoint-lg: 1280px;

  --spacing-block-lg: 2rem;
  --spacing-block-md: 1.25rem;
  --spacing-block-sm: 0.375rem;
  --spacing-inline-lg: 5rem;
  --spacing-inline-md: 3rem;
  --spacing-inline-sm: 1.5rem;

  --base-font-size-min: 16px;
  --base-font-size-max: 30px;

  --font-size-sm: 0.875rem;

  scroll-behavior: smooth;
  font-family: 'Alegreya Sans', Lato, Calibri, 'sans-serif';
  font-size: var(--base-font-size-min);
  font-weight: 300;
  color: var(--color-primary-50);
  background-color: var(--color-primary-900);
}

@media screen and (min-width: var(--breakpoint-sm)) {
  :root {
    --sm-to-lg: calc(var(--breakpoint-lg) - var(--breakpoint-sm));
    --this-to-lg: calc(100vw - var(--base-font-size-min));
    --base-font-size-range: calc(var(--base-font-size-max) - var(--base-font-size-min));
    --font-size-to-add: calc(var(--base-font-size-range) * (var(--sm-to-lg) / var(--this-to-lg)));
    font-size: calc(var(--base-font-size-min) + var(--font-size-to-add));
  }
}

:is(main, article) {
  background-color: var(--color-primary-50);
  color: var(--color-primary-900);
  container-name: main;
  container-type: inline-size;
}

:is(main, article) :is(section, header):not(:is(section, header) :is(section, header)) {
  padding-inline: max(10%, calc((100% - var(--max-width-prose-content)) / 2));
}

:is(main, article)
  :is(section, header):not(.section--full-width):not(:is(section, header) :is(section, header))
  > p {
  max-width: var(--max-width-prose-content);
}

:is(main, article) :is(section, header):not(:is(section, header) :is(section, header)) {
  padding-block: var(--spacing-block-lg) var(--spacing-inline-lg);
}

:is(main, article) section:nth-child(even):not(:is(section, header) :is(section, header)) {
  background-color: var(--color-primary-100);
}

.title,
h1,
h2,
h3,
h4 {
  font-family: Alegreya, 'Goudy Old Style', Garamond, serif;
}

.title {
  font-size: 3.75rem;
  font-weight: 700;
  padding-block-start: var(--spacing-block-sm);
}

.title--small {
  font-size: 1.25rem;
  padding-block-start: 0;
}

h1,
h2,
h3,
h4 {
  padding-block-start: var(--spacing-block-lg);
}

h1:first {
  padding-block-start: var(--spacing-block-sm);
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

h4 {
  font-size: 1.125rem;
  font-weight: 400;
}

p:not(:first) {
  padding-block-start: var(--spacing-block-md);
}

.link {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-900);
  border: dotted transparent 2px;
  border-radius: 0.375rem;
  transition:
    text-decoration-color 300ms,
    color 300ms,
    border-color 300ms,
    font-weight 300ms;
}

.link:hover {
  text-decoration-color: transparent;
}

.link:focus {
  border-color: var(--color-primary-500);
}

.link:active {
  font-weight: 700;
  color: var(--color-primary-100);
}

.btn {
  border: solid 2px var(--color-primary-900);
  font-weight: 500;
  text-decoration: underline;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  background-color: transparent;
  transition:
    background-color 300ms,
    text-decoration-color 300ms,
    transform 50ms;
}

.btn:hover {
  background-color: var(--color-primary-200);
  text-decoration-color: transparent;
}

.btn:active {
  transform: scale(1.1, 1.1);
}

.btn--dark {
  border-color: var(--color-primary-50);
}

.btn--dark:hover {
  background-color: var(--color-primary-800);
}

td {
  padding-block-start: var(--spacing-block-sm);
}

hr {
  width: 33%;
  margin-block: auto;
  margin-inline: --spacing-inline-sm;
}

ol li {
  list-style-type: decimal;
  margin-inline-start: --spacing-inline-md;
}

.schedule dt {
  font-weight: 500;
  margin-block-start: var(--spacing-block-md);
  text-align: center;
}

.schedule dd {
  text-align: center;
}

.schedule dd:last-child {
  margin-block-end: var(--spacing-block-md);
}

@container main (min-width: 20rem) {
  .schedule {
    display: grid;
    grid-template-columns: fit-content(5rem) 1fr;
    grid-column-gap: var(--spacing-inline-sm);
    grid-row-gap: var(--spacing-block-sm);
  }

  .schedule dt {
    grid-column-start: 1;
    margin: 0;
    text-align: end;
  }

  .schedule dd {
    grid-column-start: 2;
    text-align: start;
  }

  .schedule dd:last-child {
    margin-block-end: 0;
  }
}

@container main (min-width: 20rem) {
  .lallans-issue__primary-info {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;
    grid-gap: 1rem;
  }

  .lallans-issue__primary-info header {
    grid-row: 1 / 3;
  }

  .lallans-issue__img {
    min-width: 10rem;
  }
}

.lallans-issue__img {
  height: auto;
  max-width: 10rem;
}

.news-post {
  margin-block: 1.5rem;
  margin-inline: 0.5rem;
  width: 30%;
  border: solid 2px var(--color-primary-800);
  color: var(--color-primary-800);
  overflow: hidden;
  text-overflow: ellipsis;
  padding-inline: var(--spacing-inline-sm);
  padding-block: var(--spacing-block-sm);
  transition:
    background-color 300ms,
    color 300ms,
    transform 50ms;
}

.news-post:hover {
  background-color: var(--color-primary-50);
  color: var(--color-primary-900);
}

.news-post:active {
  transform: scale(1.1, 1.1);
}

.news-post__title {
  padding-block: 0;
  text-decoration: underline;
  transition: text-decoration 300ms;
}

.news-post:hover .news-post__title {
  text-decoration-color: transparent;
}

.news-post__summary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;
  font-size: var(--font-size-sm);
}

footer {
  padding-block-start: var(--spacing-block-md);
  padding-bottom: 8rem;
  margin-inline: 10%;
}

.back-to-top-link {
  width: fit-content;
  margin-inline: auto;
}

@media (min-width: var(--breakpoint-sm)) {
  .back-to-top-link {
    margin-inline-end: 0;
  }
}

.publications-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.publications-gallery__image {
  margin-inline: auto;
  width: 3rem;
  height: auto;
  min-width: 1.5rem;
  border-radius: 50%;
}

.lallans-issues-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-block: 1.5rem;
}

.lallans-issues-gallery__issue-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 12rem;
}

.lallans-issues-gallery__issue-cover-image {
  align-self: start;
  width: 100%;
  max-width: 6rem;
  height: auto;
}

.lallans-issues-gallery__issue-title {
  justify-self: end;
  max-width: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-align: center;
}
