@import 'css/variables/index.css';
@import 'css/base/index.css';
@import 'css/layout/index.css';
@import 'css/modules/index.css';

:root {
  scroll-behavior: smooth;
}

:is(main, article) {
  container-name: main;
  container-type: inline-size;
}

:is(main, article) > :is(section, header):not(:is(section, header) :is(section, header)) {
  padding-inline: max(10%, calc((100% - var(--max-width-prose-content)) / 2));
  padding-block: var(--spacing-block-lg) var(--spacing-block-xl);
}

:is(main, article) > :is(section, header):not(:is(section, header) :is(section, header)).section--full-width {
  padding-inline: max(10%, calc((100% - var(--max-width-all-content)) / 2));
}

:is(main, article)
  > :is(section, header):not(.section--full-width):not(:is(section, header) :is(section, header))
  > p {
  max-width: var(--max-width-prose-content);
}

:is(main, article) > section:nth-child(even):not(:is(section, header) :is(section, header)) {
  background-color: var(--background-color);
}

footer {
  padding-block-start: var(--spacing-block-md);
  padding-bottom: 8rem;
  padding-inline: max(10%, calc((100% - var(--max-width-all-content)) / 2));;
}

.link-gallery {
  padding-block: var(--spacing-block-md);
}

.italic {
  font-style: italic;
}

:is(.lallans-issue__contributions, .lallans-issue__contributors) ul {
  font-size: var(--font-size-0);
  padding-block-end: var(--spacing-block-md);
}

nav {
  padding-block-start: var(--spacing-block-sm);
  padding-block-end: var(--spacing-block-md);
  padding-inline: var(--spacing-inline-sm);
}

.align-end {
  display: block;
  margin-inline-start: auto;
  width: fit-content;
}

.margin-block-start-md {
  margin-block-start: var(--spacing-block-md);
}
