@import 'css/variables/index.css';
@import 'css/base/index.css';
@import 'css/layout/index.css';
@import 'css/modules/index.css';
@import 'css/utils.css';

:root {
  scroll-behavior: smooth;
}

:is(main, article) {
  container-name: main;
  container-type: inline-size;
}

:is(main, article) > :is(section, header):not(:is(section, header) :is(section, header)) {
  padding-block-start: var(--margin-block-lg);
  padding-block-end: var(--margin-block-md);
}

footer {
  padding-block-start: var(--margin-block-md);
  padding-block-end: var(--margin-block-lg);
}

nav {
  padding-block-start: var(--margin-block-sm);
  padding-block-end: var(--margin-block-md);
}
