---
import Page from '$layouts/Page.astro';
---

<Page noBreadcrumbs={true} title="Eneados">
  <section>
    <h1>Eneados</h1>

    <ol>
      <li><a href="/eneados/buik-1">Buik 1</a></li>
      <li><a href="/eneados/buik-2">Buik 2</a></li>
      <li><a href="/eneados/buik-3">Buik 3</a></li>
      <li><a href="/eneados/buik-4">Buik 4</a></li>
      <li><a href="/eneados/buik-5">Buik 5</a></li>
      <li><a href="/eneados/buik-6">Buik 6</a></li>
      <li><a href="/eneados/buik-7">Buik 7</a></li>
      <li><a href="/eneados/buik-8">Buik 8</a></li>
      <li><a href="/eneados/buik-9">Buik 9</a></li>
      <li><a href="/eneados/buik-10">Buik 10</a></li>
      <li><a href="/eneados/buik-11">Buik 11</a></li>
      <li><a href="/eneados/buik-12">Buik 12</a></li>
      <li><a href="/eneados/buik-13">Buik 13</a></li>
    </ol>
  </section>
</Page>
