---
import Article from '$layouts/Article.astro';
import { getCollection } from 'astro:content';
import { getLocale, getSlug } from '$lib/newsUtils';

export async function getStaticPaths() {
  return (await getCollection('news')).map((entry) => ({
    params: {
      slug: getSlug(entry),
      locale: getLocale(entry),
    },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Article title={entry.data.title}>
  <section>
    <h1>{entry.data.title}</h1>
    <Content />
  </section>
</Article>
