:root {
  --margin-inline-md: 0.125rem;
  --margin-block-lg: 0.8rem;
  --margin-block-md: 0.5rem;
  --margin-block-sm: 0.25rem;

  --padding-inline-lg: 0.25rem;
  --padding-inline-md: 0.125rem;
  --padding-inline-sm: 0.0625rem;
  --padding-block-lg: 0.8rem;
  --padding-block-md: 0.5rem;
  --padding-block-sm: 0.25rem;

  --grid-padding: calc(var(--grid-padding-relative-eighth-rem) * var(--relative-eighth-rem));
  --grid-column-width: calc(var(--grid-column-width-relative-eighth-rem) * var(--relative-eighth-rem));
  --grid-gutter-width: calc(var(--grid-gutter-width-relative-eighth-rem) * var(--relative-eighth-rem));
  
  --grid-total-relative-eighth-rem-width: calc(
    var(--grid-padding-relative-eighth-rem) * 2 +
    var(--grid-column-width-relative-eighth-rem) * var(--grid-column-count) + 
    var(--grid-gutter-width-relative-eighth-rem) * (var(--grid-column-count) - 1)
  );
  --relative-eighth-rem: calc(
    var(--grid-total-width) / var(--grid-total-relative-eighth-rem-width)
  );
  --width-prose: calc(
    var(--grid-column-width) * var(--grid-prose-column-count) +
    var(--grid-gutter-width) * (var(--grid-prose-column-count) - 1)
  );

  --grid-column-width-relative-eighth-rem: 32;
  --grid-gutter-width-relative-eighth-rem: 4;

  /***********************************************************
   * Generally, we will use columns to keep things laid out  *
   * nicely. However, on screens narrower than sm, space is  *
   * too precious for guttering. So for those screens we use *
   * a single-column layout taking up 100vw. In effect, this *
   * is just default CSS layout plus a wee bit padding. From *
   * sm widewards, we use multiple columns on a fixed width. *
   ***********************************************************/

  --grid-total-width: 100vw;
  --grid-padding-relative-eighth-rem: 1;
  --grid-column-count: 1;
  --grid-prose-column-count: 1;
}
