:root {
  --spacing-inline-lg: calc(4 * var(--relative-eighth-rem));
  --spacing-inline-md: calc(2 * var(--relative-eighth-rem));
  --spacing-inline-sm: calc(1 * var(--relative-eighth-rem));
  --spacing-block-lg: calc(16 * var(--relative-eighth-rem));
  --spacing-block-md: calc(10 * var(--relative-eighth-rem));
  --spacing-block-sm: calc(5 * var(--relative-eighth-rem));

  --grid-total-width: 30rem;
  --grid-padding-relative-eighth-rem: 12;
}
