:root {
  /* Min font size matches <xs breakpoint, max font size matches xs-sm */
  --font-size-0: clamp(1rem, calc(5 * var(--er)), 1rem);
  --font-size-1: clamp(1.25rem, calc(7 * var(--er)), 1.45rem);
  --font-size-2: clamp(1.5rem, calc(9 * var(--er)), 2rem);
  --font-size-3: clamp(2rem, calc(11 * var(--er)), 2.55rem);
  --font-size-4: clamp(2.5rem, calc(14 * var(--er)), 3.3rem);
  --font-size-5: clamp(3rem, calc(17 * var(--er)), 4.2rem);
  --font-size-6: clamp(3.5rem, calc(20 * var(--er)), 5rem);

  --border-width: var(--er);
  --text-decoration-thickness: var(--er);
}
