:root {
  --font-size-0: calc(7 * var(--er));
  --font-size-1: calc(9 * var(--er));
  --font-size-2: calc(12 * var(--er));
  --font-size-3: calc(16 * var(--er));
  --font-size-4: calc(20 * var(--er));
  --font-size-5: calc(26 * var(--er));
  --font-size-6: calc(32 * var(--er));
}
