:root {
  --color-primary-50: #eeecff;
  --color-primary-100: #cec5ff;
  --color-primary-200: #b19cff;
  --color-primary-300: #937be3;
  --color-primary-400: #765cc1;
  --color-primary-500: #5a3ea1;
  --color-primary-600: #401f81;
  --color-primary-700: #28005c;
  --color-primary-800: #0f002a;
  --color-primary-900: #010003;

  --color-secondary-50: #bcffee;
  --color-secondary-100: #2bedce;
  --color-secondary-200: #2ac8ae;
  --color-secondary-300: #28a58f;
  --color-secondary-400: #068472;
  --color-secondary-500: #0a6355;
  --color-secondary-600: #09453a;
  --color-secondary-700: #062822;
  --color-secondary-800: #030e0b;
  --color-secondary-900: #000101;
}