:root {
  --margin-inline-md: calc(8 * var(--relative-eighth-rem));
  --margin-block-lg: calc(16 * var(--relative-eighth-rem));
  --margin-block-md: calc(10 * var(--relative-eighth-rem));
  --margin-block-sm: calc(5 * var(--relative-eighth-rem));

  --padding-inline-lg: calc(22 * var(--relative-eighth-rem));
  --padding-inline-md: calc(12 * var(--relative-eighth-rem));
  --padding-inline-sm: calc(3 * var(--relative-eighth-rem));
  --padding-block-lg: calc(12 * var(--relative-eighth-rem));
  --padding-block-md: calc(8 * var(--relative-eighth-rem));
  --padding-block-sm: calc(5 * var(--relative-eighth-rem));

  --grid-padding-start: calc(var(--grid-padding-start-relative-eighth-rem) * var(--relative-eighth-rem));
  --grid-column-width: calc(var(--grid-column-width-relative-eighth-rem) * var(--relative-eighth-rem));
  --grid-gutter-width: calc(var(--grid-gutter-width-relative-eighth-rem) * var(--relative-eighth-rem));
  
  --grid-total-relative-eighth-rem-width: calc(
    var(--grid-padding-start-relative-eighth-rem) * 2 +
    var(--grid-column-width-relative-eighth-rem) * var(--grid-column-count) + 
    var(--grid-gutter-width-relative-eighth-rem) * (var(--grid-column-count) - 1)
  );
  --relative-eighth-rem: calc(
    var(--grid-total-width) / var(--grid-total-relative-eighth-rem-width)
  );

  --grid-column-width-relative-eighth-rem: 32;
  --grid-gutter-width-relative-eighth-rem: 4;

  /* small screens */

  --grid-total-width: 30rem;
  --grid-padding-start-relative-eighth-rem: 12;
  --grid-column-count: 4;
}
