:root {
  --font-size-0: calc(8 * var(--relative-eighth-rem));
  --font-size-1: calc(8 * var(--relative-eighth-rem));
  --font-size-2: calc(8 * var(--relative-eighth-rem));
  --font-size-3: calc(8 * var(--relative-eighth-rem));
  --font-size-4: calc(8 * var(--relative-eighth-rem));
  --font-size-5: calc(8 * var(--relative-eighth-rem));
  --font-size-6: calc(8 * var(--relative-eighth-rem));

  --font-serif:
    Alegreya,
    Sitka, "Sitka Display", "Sitka Heading", "Sitka Text",
    -apple-system-ui-serif,
    "Droid Serif",
    ui-serif,
    serif;
  --font-sans-serif:
    'Alegreya Sans',
    Lato,
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}