---
import Page from '$layouts/Page.astro';
import localeStaticPaths from '$lib/localeStaticPaths';
import translate from '$i18n/translate';
import tPage from '$i18n/translations/pages/lallansGallery';
import type Locale from '$types/Locale';
import LallansIssuesGallery from '$components/LallansIssuesGallery.astro';

export async function getStaticPaths() {
  return localeStaticPaths;
}

const locale = Astro.params.locale as Locale;
const t = translate(locale);
---

<Page title={t(tPage, { key: 'title' })}>
  <section>
    <h1>{t(tPage, { key: 'title' })}</h1>
    <p>{t(tPage, { key: 'about-lallans' })}</p>
    <LallansIssuesGallery />
  </section>
</Page>
