---
import Page from '$layouts/Page.astro';
import localeStaticPaths from '$lib/localeStaticPaths';
import translate from '$i18n/translate';
import tFurthsettins from '$i18n/translations/pages/furthsettins';
import type Locale from '$types/Locale';
import LallansIssuesGallery from '$components/LallansIssuesGallery.astro';

export async function getStaticPaths() {
  return localeStaticPaths;
}

const locale = Astro.params.locale as Locale;
const t = translate(locale);
---

<Page locale={locale} title={t(tFurthsettins, { key: 'title' })}>
  <section class="section--full-width">
    <h1>Lallans</h1>
    <LallansIssuesGallery locale={locale} />
  </section>
</Page>
