---
import translate from '$i18n/translate';
import { getLocaleFromPathOrDefault } from '$lib/getLocaleFromPath';
import tSite from '$i18n/translations/site';

const locale = getLocaleFromPathOrDefault(Astro.url.pathname);
const t = translate(locale);
---

<p class="nav__logo">
  <a href="/">
    {t(tSite, { key: 'scots-leid-associe' })}
  </a>
</p>
