---
import Breadcrumbs from './Breadcrumbs.astro';
import SwitchLanguageLink from '../SwitchLanguageLink.astro';
import NavLinks from './NavLinks.astro';
import Logo from './Logo.astro';
---

<nav class="nav">
  <Logo />
  <NavLinks />
  <div class="nav__bottom-row">
    <Breadcrumbs />
    <SwitchLanguageLink />
  </div>
</nav>
