:is(
  header,
  footer,
  nav,
  :is(main, article) > section:not(:is(section, header) :is(section, header))
):not(.section--full-width) {
  padding-inline: calc(var(--grid-padding) + 0.5 * (100vw - var(--grid-total-width)));
}

.grid-span-1 {
  width: var(--grid-column-width);
}

/* On screens narrower than 16rem, there is only one column. */

.grid-span-2 {
  width: var(--grid-column-width);
}

.grid-span-3 {
  width: var(--grid-column-width);
}

.width-prose {
  width: var(--prose-width);
}

.grid-span-full {
  width: var(--grid-total-width);
}
