:is(main, article) > :is(section, header):not(:is(section, header) :is(section, header)) {
  padding-block: var(--spacing-block-md);
}

footer {
  padding-block-start: var(--spacing-block-md);
  padding-block-end: var(--spacing-block-lg);
}

nav {
  padding-block-start: var(--spacing-block-sm);
  padding-block-end: var(--spacing-block-md);
}
