---
import translate from '$i18n/translate';
import tComponent from '$i18n/translations/components/footer';
import { getLocaleFromPathOrDefault } from '$lib/getLocaleFromPath';
import Button from './Button.astro';

const locale = getLocaleFromPathOrDefault(Astro.url.pathname);
const t = translate(locale);
---

<footer>
  <a href={`/${locale}/rss.xml`} class="footer__rss-button">
    <span class="footer__rss-button__label">
      {t(tComponent, { key: 'subscribe-to-rss' })}
    </span>
    <img class="footer__rss-button__img" src="/images/rss.svg" />
  </a>

  <Button classNames="footer__back-to-top" href="#top">
    ▲ {t(tComponent, { key: 'back-to-top' })}
  </Button>
</footer>
