---
import translate from '$i18n/translate';
import tSite from '$i18n/translations/site';
import { getLocaleFromPathOrDefault } from '$lib/getLocaleFromPath';
import Button from './Button.astro';

const locale = getLocaleFromPathOrDefault(Astro.url.pathname);
const t = translate(locale);
---

<footer>
  <Button layoutClasses="grid-span-3 grid-end" href="#top">
    ▲ {t(tSite, { key: 'back-to-top' })}
  </Button>
</footer>
