---
import translate from '$i18n/translate';
import tSite from '$i18n/translations/site';
import getLocaleFromPath from '$lib/getLocaleFromPath';
import type { Contribution } from '$types/LallansIssue';

interface Props {
  contributions: Contribution[];
}

const { contributions } = Astro.props;
const locale = getLocaleFromPath(Astro.url.pathname);
const t = translate(locale);
---

<section>
  <h2>Contributions</h2>
  <ul class="lallans-issue__contributions">
    {
      contributions.map((contribution) => (
        <li>
          <span class="italic">{contribution.title}</span>
          {'author' in contribution && (
            <span>
              {' '}
              {t(tSite, { key: 'by' })} {contribution.author}
            </span>
          )}
        </li>
      ))
    }
  </ul>
</section>
