---
import type Locale from '../types/Locale';
import Breadcrumbs from './Breadcrumbs.astro';
import SwitchLanguageLink from './SwitchLanguageLink.astro';
import tSite from '../i18n/translations/site';
import translate from '../i18n/translate';

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;

const t = translate(locale);
---

<nav>
  <p class="title--small logo">
    <a href="/">
      {t(tSite, { key: 'scots-leid-associe' })}
    </a>
  </p>
  <SwitchLanguageLink currentLocale={locale} />
  <Breadcrumbs />
</nav>
