---
import type Locale from '../types/Locale';
import Breadcrumbs from './Breadcrumbs.astro';
import SwitchLanguageLink from './SwitchLanguageLink.astro';

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
---

<nav class="dark">
  <SwitchLanguageLink currentLocale={locale} />
  <Breadcrumbs />
</nav>
