---
import Breadcrumbs from './Breadcrumbs.astro';
import SwitchLanguageLink from './SwitchLanguageLink.astro';
import tSite from '$i18n/translations/site';
import translate from '$i18n/translate';
import getLocaleFromPath from '$lib/getLocaleFromPath';
import NavLinks from './NavLinks.astro';

const locale = getLocaleFromPath(Astro.url.pathname);
const t = translate(locale);
---

<nav>
  <p class="title--small nav__logo">
    <a href="/">
      {t(tSite, { key: 'scots-leid-associe' })}
    </a>
  </p>
  <NavLinks />
  <div class="nav__bottom-row">
    <SwitchLanguageLink />
    <Breadcrumbs />
  </div>
</nav>
