---
import translate from '$i18n/translate';
import tNewsPreviewLink from '$i18n/translations/components/newsPreviewLink';
import getLocaleFromPath from '$lib/getLocaleFromPath';
import type { CollectionEntry } from 'astro:content';

interface Props {
  newsItem: CollectionEntry<'news'>;
}

const { newsItem } = Astro.props;
const locale = getLocaleFromPath(Astro.url.pathname);
const t = translate(locale);
---

<a class="news-index__item" href={`/${locale}/news/${newsItem.slug.replace('/', '-')}`}>
  <h2>{newsItem.data.title}</h2>
  <p>{newsItem.data.summary}</p>
  <p class="link">{t(tNewsPreviewLink, { key: 'read-article' })}</p>
</a>
