---
import { getAllScotsoun } from '$data/scotsoun';
import getLocaleFromPath from '$lib/getLocaleFromPath';
import type Scotsoun from '$types/Scotsoun';

const locale = getLocaleFromPath(Astro.url.pathname);
const scotsoun = (await getAllScotsoun()).sort(scotsounIdDescending);

function scotsounIdDescending(scotsoun1: Scotsoun, scotsoun2: Scotsoun) {
  return scotsoun2.scotsounId.localeCompare(scotsoun1.scotsounId);
}
---

<ul class="link-gallery link-gallery--scotsoun">
  {
    scotsoun.map((scotsounItem) => (
      <li>
        <a
          class="link link-gallery__container"
          href={`/${locale}/furthsettins/scotsoun/${scotsounItem.scotsounId}`}
        >
          <div class="link-gallery__image">
            <img src={`/images/scotsoun/sscd${scotsounItem.scotsounId}.jpg`} />
          </div>
          <p class="link-gallery__title">{scotsounItem.title}</p>
        </a>
      </li>
    ))
  }
</ul>
