---
import { Image } from 'astro:assets';
import { getAllScotsoun } from '$data/scotsoun';
import { getLocaleFromPathOrThrow } from '$lib/getLocaleFromPath';
import type Scotsoun from '$types/Scotsoun';

const locale = getLocaleFromPathOrThrow(Astro.url.pathname);
const scotsoun = (await getAllScotsoun()).sort(scotsounIdDescending);

function scotsounIdDescending(scotsoun1: Scotsoun, scotsoun2: Scotsoun) {
  return scotsoun2.scotsounId.localeCompare(scotsoun1.scotsounId);
}
---

<ul class="link-gallery">
  {
    scotsoun.map((scotsounItem) => (
      <li>
        <a
          class="link-gallery__container"
          href={`/${locale}/furthsettins/scotsoun/${scotsounItem.scotsounId}`}
        >
          <Image src={scotsounItem.img.width192} alt="" />
          <p class="link-gallery__title">{scotsounItem.title}</p>
        </a>
      </li>
    ))
  }
</ul>
