:root {
  color: var(--text-color);
  background-color: var(--background-color);
}

:is(main, article) {
  color: var(--text-color);
  background-color: var(--background-color);
}

:is(main, article) > section:not(:is(section, header) :is(section, header)) {
  background-color: var(--background-color);
}