.product__header-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: var(--spacing-inline-sm);
}

.product__action-block {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: fit-content;
  gap: var(--spacing-block-sm);
}

.product__action-block img {
  max-width: 12rem;
  width: 100%;
  height: auto;
}

:is(.product__contributors, .product__contributions) {
  list-style-type: none;
}

.product__contribution__title {
  font-style: italic;
  &:has(+ .product__contribution__author) {
    margin-inline-end: 0.3em;
  }
}
