:is(button, .btn) {
  display: block;
  box-sizing: border-box;
  color: var(--text-color);
  border: solid var(--relative-eighth-rem) var(--text-color);
  font-weight: 600;
  text-align: center;
  margin-block-start: var(--margin-block-sm);
  padding-inline: var(--padding-inline-md);
  padding-block: var(--padding-block-sm);
  background-color: transparent;
  transition:
    background-color 100ms,
    transform 100ms;
}

:is(button, .btn):is(:hover, :focus, :focus-visible, :focus-within, :active) {
  box-shadow: none;
  outline: none;
  color: var(--text-highlight-color);
  border-color: var(--background-highlight-color);
  background-color: var(--background-highlight-color);
  transition:
    background-color 300ms,
    transform 300ms;
}

:is(button, .btn):is(:focus, :focus-visible, :focus-within) {
  border-color: var(--special-text-highlight-color);
  border-style: dotted;
}

:is(button, .btn):active {
  transform: scale(1.1, 1.1);
}
