.committee__member {
  list-style-type: none;
  margin-block-start: var(--margin-block-sm);
}

.committee__member__img {
  margin-inline: calc(var(--grid-column-width) + var(--grid-gutter-width));
  width: calc(var(--grid-gutter-width) + 2 * var(--grid-column-width));
  border-radius: 50%;
}
