footer {
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), var(--grid-column-width));
  gap: var(--grid-gutter-width);
  align-items: baseline;
}

.footer__rss-button__label {
  /* Hides the label from non-screen-readers */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.footer__rss-button__img {
  min-width: 44px;
  width: calc(8 * var(--relative-eighth-rem));
}

.footer__back-to-top {
  grid-column: calc(var(--grid-column-count) - 2) / calc(var(--grid-column-count) + 1);
}