.link-gallery {
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), var(--grid-column-width));
  gap: var(--grid-gutter-width);
  padding-block: var(--margin-block-md);
  --gallery-item-column-span: 1;
  --gallery-row-image-height: 12rem;
  --gallery-row-title-height: fit-content;
  text-align: center;

  li {
    grid-column: span var(--gallery-item-column-span);
  }

  img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: contain;
  }
}

.link-gallery__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--gallery-row-image-height) var(--gallery-row-title-height);
  row-gap: var(--margin-block-sm);
}

.link-gallery--furthsettins img {
  box-sizing: border-box;
  border-radius: 50%;
  border: solid calc(2 * var(--relative-eighth-rem)) var(--text-color);
}

.link-gallery__title {
  width: 100%;
  height: min-content;
  text-align: center;
  margin-inline: var(--spacing-inline-xs);
}
