.news-index__item {
  display: block;
  box-sizing: border-box;
  border: var(--border-width) solid var(--text-color);
  transition: background 100ms;
  padding-block: var(--spacing-block-md);
  padding-inline: var(--spacing-inline-sm);
  width: var(--width-prose);
}

a.news-index__item {
  text-decoration: none;
  color: var(--text-color);
}

.news-index__item:not(:first-child) {
  border-top-width: 0;
}

.news-index__item:is(:hover, :focus, :focus-visible, :focus-within) {
  outline: none;
  box-shadow: none;
  color: var(--text-highlight-color);
  border-color: var(--background-highlight-color);
  background: var(--background-highlight-color);
  transition-duration: 300ms;
}

.news-index__item:is(:hover, :focus, :focus-visible, :focus-within) .link {
  color: var(--special-text-highlight-color);
}

.news-index__item:is(:focus, :focus-visible, :focus-within) {
  border-color: var(--special-text-highlight-color);
  border-style: dotted;
}
