---
import { Image } from 'astro:assets';
import Page from '$layouts/Page.astro';
import localeStaticPaths from '$lib/localeStaticPaths';
import translate from '$i18n/translate';
import tFurthsettins from '$i18n/translations/pages/furthsettins';
import tSite from '$i18n/translations/site';
import type Locale from '$types/Locale';
import relativePath from '$lib/relativePath';
import lallansImg from '$images/furthsettins/lallans-192w.jpg';
import scotsounImg from '$images/furthsettins/scotsoun-192w.jpg';

export async function getStaticPaths() {
  return localeStaticPaths;
}

const locale = Astro.params.locale as Locale;
const t = translate(locale);
---

<Page title={t(tFurthsettins, { key: 'title' })}>
  <section>
    <h1>{t(tFurthsettins, { key: 'title' })}</h1>

    <ul class="link-gallery link-gallery--furthsettins">
      <li>
        <a href={relativePath(Astro.url.pathname, 'lallans')} class="link link-gallery__container">
          <Image src={lallansImg} alt="" />
          <p class="link-gallery__title">{t(tSite, { key: 'lallans' })}</p>
        </a>
      </li>
      <li>
        <a href={relativePath(Astro.url.pathname, 'scotsoun')} class="link link-gallery__container">
          <Image src={scotsounImg} alt="" />
          <p class="link-gallery__title">{t(tSite, { key: 'scotsoun' })}</p>
        </a>
      </li>
    </ul>
  </section>
</Page>
