---
import Page from '../../../layouts/Page.astro';
import localeStaticPaths from '../../../lib/localeStaticPaths';
import translate from '../../../i18n/translate';
import tFurthsettins from '../../../i18n/translations/pages/furthsettins';
import tSite from '../../../i18n/translations/site';
import type Locale from '../../../types/Locale';

export async function getStaticPaths() { return localeStaticPaths; }

const locale = Astro.params.locale as Locale;
const t = translate(locale);
---

<Page locale={locale} title={ t(tFurthsettins, 'title') }>
  <h1>Furthsettins</h1>

  <ul class="publications-gallery">
    <li>
      <a href="furthsettins/lallans" class="link">
        <img src="/images/furthsettins/lallans.jpg" class="publications-gallery__image" />
        <p class="publications-gallery__title">{ t(tSite, 'lallans') }</p>
      </a>
    </li>
  </ul>
</Page>