---
import Page from '$layouts/Page.astro';
import localeStaticPaths from '$lib/localeStaticPaths';
import translate from '$i18n/translate';
import tFurthsettins from '$i18n/translations/pages/furthsettins';
import tSite from '$i18n/translations/site';
import type Locale from '$types/Locale';

export async function getStaticPaths() {
  return localeStaticPaths;
}

const locale = Astro.params.locale as Locale;
const t = translate(locale);
---

<Page locale={locale} title={t(tFurthsettins, { key: 'title' })}>
  <section>
    <h1>Furthsettins</h1>

    <ul class="link-gallery link-gallery--furthsettins">
      <li>
        <a href="lallans" class="link link-gallery__container">
          <div class="link-gallery__image">
            <img src="/images/furthsettins/lallans.jpg" />
          </div>
          <p class="link-gallery__title">{t(tSite, { key: 'lallans' })}</p>
        </a>
      </li>
      <li>
        <a href="scotsoun" class="link link-gallery__container">
          <div class="link-gallery__image">
            <img src="/images/furthsettins/scotsoun.jpg" />
          </div>
          <p class="link-gallery__title">{t(tSite, { key: 'scotsoun' })}</p>
        </a>
      </li>
    </ul>
  </section>
</Page>
