---
import Footer from '$components/Footer.astro';
import Navbar from '$components/Navbar.astro';
import translate from '$i18n/translate';
import site from '$i18n/translations/site';
import type Locale from '$types/Locale';

interface Props {
  locale: Locale;
  title: string;
}

const { locale, title } = Astro.props;
const t = translate(locale);
---

<!DOCTYPE html>
<html lang="sco">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={t(site, { key: 'description' })} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/main.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | {t(site, { key: 'title' })}</title>
  </head>
  <body>
    <Navbar locale={locale} />
    <slot />
    <Footer />
  </body>
</html>
