---
import Layout from './Layout.astro';

interface Props {
  noBreadcrumbs?: boolean;
  title: string;
}

const { noBreadcrumbs, title } = Astro.props;
---

<Layout noBreadcrumbs={noBreadcrumbs} title={title}>
  <main id="main">
    <slot />
  </main>
</Layout>
