.committee__member {
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), var(--grid-column-width));
  grid-template-rows: 1fr;
  column-gap: var(--grid-gutter-width);
}

.committee__member__img {
  grid-column: 1 / 3;
  margin-block: auto;
}

.committee__member__text {
  grid-column: 3 / min(9, calc(var(--grid-column-count) + 1));
}