.link {
  color: var(--special-text-color);
  text-decoration: underline;
  text-decoration-color: var(--special-text-color);
  border: dotted transparent 2px;
  border-radius: 0.375rem;
  transition:
    text-decoration-color 300ms,
    color 300ms,
    border-color 300ms,
    font-weight 300ms;
}

.link:hover, .group-hover:hover .link {
  text-decoration-color: transparent;
}

.link:focus {
  border-color: var(--special-text-color);
}

.link:active {
  font-weight: 700;
  color: var(--special-text-highlight-color);
}