.link-gallery {
  grid-auto-rows: calc(
    var(--gallery-row-image-height) +
    var(--margin-block-sm) +
    var(--gallery-row-title-height)
  );
  --gallery-item-column-span: 2;
  --gallery-row-title-height: 11ex;
  text-align: center;
}

.link-gallery__title {
  width: 100%;
  height: min-content;
  max-height: 100%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
