.link-gallery {
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), var(--grid-column-width));
  grid-auto-rows: calc(
    var(--gallery-row-image-height) +
    var(--margin-block-sm) +
    var(--gallery-row-title-height)
  );
  gap: var(--grid-gutter-width);
  padding-block: var(--margin-block-md);
  --gallery-item-column-span: 2;
  --gallery-row-image-height: 12rem;
  --gallery-row-title-height: 11ex;
  text-align: center;
}

.link-gallery li {
  grid-column: span var(--gallery-item-column-span);
}

.link-gallery__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--gallery-row-image-height) var(--gallery-row-title-height);
  row-gap: var(--margin-block-sm);
}

.link-gallery--furthsettins img {
  border-radius: 50%;
}

.link-gallery img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.link-gallery__title {
  width: 100%;
  height: min-content;
  max-height: 100%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
  margin-inline: var(--spacing-inline-xs);
}
