.nav__bottom-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: var(--margin-block-sm);
}

.nav__nav-links li {
  width: max-content;
}

.nav__nav-links li:not(:last-of-type) {
  margin-block-end: var(--margin-block-sm);
}

.nav__logo {
  text-align: center;
  margin-block-end: var(--margin-block-sm);
}

.nav__logo a {
  text-decoration: none;
}

.nav__breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}

.nav__breadcrumbs li {
  margin-inline: var(--spacing-inline-xs);
  list-style-type: none;
  min-width: max-content;
}

.nav__breadcrumbs li::before {
  content: '/'
}
