.nav > :not(:last-child) {
  margin-block-end: var(--margin-block-sm);
}

.nav__bottom-row {
  display: flex;
  flex-direction: column;
}

.nav__nav-links li {
  width: max-content;
}

.nav__nav-links li:not(:last-of-type) {
  margin-block-end: var(--margin-block-sm);
}

.nav__logo {
  font-family: var(--font-serif);
  font-size: var(--font-size-5);
  font-weight: 700;
}

.nav__logo a {
  text-decoration: none;
  border: 2px dotted transparent;
  transition: border-color 100ms;
}

.nav__logo a:is(:focus, :focus-visible, :focus-within) {
  box-shadow: none;
  outline: none;
  border-color: var(--special-text-color);
  transition: border-color 300ms;
}

.nav__breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}

.nav__breadcrumbs li {
  list-style-type: none;
  min-width: max-content;
}

.nav__breadcrumbs li::before {
  content: '/'
}

.nav__switch-language-link {
  text-align: right;
}