.news-index__item {
  display: block;
  transition: background 100ms;
  padding-block: var(--margin-block-md);
  padding-inline: var(--spacing-inline-sm);
}

.news-index__item:hover {
  background: var(--background-highlight-color);
  transition-duration: 300ms;
}
